#div1{width: 80px; height: 80px; background: red; border-radius: 80px; text-align: center; line-height: 80px;}
#div2{width: 80px; height: 80px; background: orangered; border-radius: 80px; text-align: center; line-height: 80px;}
#div3{width: 80px; height: 80px; background: orange; border-radius: 80px; text-align: center; line-height: 80px;}